@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.header {
  animation: rotation 1s alternate;
}

@keyframes rotation {
  from { transform: rotate(-50deg); }
  to { transform: rotate (50deg); }
}

.sun {
  animation: shake 5s linear infinite;
  transform-origin: center;
  transform: rotate(0deg);
}

@keyframes shake {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.earth {
  transition: all .5s linear;
  width: 100%;
  transform: scale(1,1);
}

.earth-grow {
  animation: scale .5s linear;
}

@keyframes scale {
  0% { transform: scale(1,1); }
  100% { transform: scale(2,2); }
}

.grass {
  opacity: 1;
  transition: all .5s linear;
}

.grass-fade {
  animation: fade .5s linear;
}

@keyframes fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
